<%= form_for(@cellar) do |f| %>
  <% if @cellar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cellar.errors.count, "error") %> prohibited this cellar from being saved:</h2>

      <ul>
      <% @cellar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
