<%= form_tag(cellar_path(cellar), :id => 'edit-cellar') %>
  <table class="beers list" id="cellared-beers">
    <thead>
      <tr>
        <% if is_users_cellar?(cellar) %>
          <th class="unsortable" width="25"></th>
        <% end %>
        <th width="40" id="year">Year</th>
        <th id="brewery">Brewery</th>
        <th id="variety">Name</th>
        <th id="style">Style</th>
        <th id="quantity">Quantity</th>
        <th id="abv">ABV</th>
      </tr>
      <tr class="filters">
        <% if is_users_cellar?(cellar) %>
          <td class="check-all"><input type="checkbox" id="check-all-boxes" /></td>
        <% end %>
        <td data-filter-for="year"><span class="nowrap"><input type="text" name="search[year]" title="Filter" /></span></td>
        <td data-filter-for="brewery"><span class="nowrap"><input type="text" name="search[brewery]" title="Filter Brewery" /></span></td>
        <td data-filter-for="name"><span class="nowrap"><input type="text" name="search[name]" title="Filter Name" /></span></td>
        <td data-filter-for="style"><span class="nowrap"><input type="text" name="search[style]" title="Filter Style" /></span></td>
        <td></td>
        <td></td>
      </tr>
    </thead>

    <tbody>
      <%- if cellar.active_beers.empty? %>
        <tr>
          <td colspan="<%= is_users_cellar?(cellar) ? '5' : '4' %>" class="empty">
            <%- if is_users_cellar?(cellar) %>
              You haven't added any beer to your cellar yet! Click "Add Beer" to get started.
            <%- else %>
              There are no beer in this cellar.
            <%- end %>
          </td>
        </tr>
      <%- end %>
    </tbody>
  </table>
</form>
<div class="pages">
  <span class="prev"></span>
  <span class="page-numbers"></span>
  <span class="next"></span>
</div>

