<% content_for :title do %>
  please wait while your cellar is uploaded
<% end %>

<h2>Processing File</h2>

<div align="center" id="progress">
  <p>Please wait while your file is processed.</p>

  <img src="/images/progress-big.gif" alt="Loading..." />

  <p>You will be sent to the next step in the import process when it's complete!</p>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
function checkStatus() {
  $.ajax({
    url: '<%= cellar_import_status_path(@cellar) %>',
    success: function(data) {
      if(data.status == 1) {
        var div = $('<div/>').attr('align', 'center').text('Processing complete! You are being redirected to the next step now.');
        div.hide();

        $('#progress').before(div);
        $('#progress').fadeOut('fast', function() {
          div.fadeIn('fast', function() {
            window.location.href = '<%= confirm_upload_cellar_path(@cellar) %>';
          });
        });
      }
      else if(data.status == -1) {
        window.location.href = '<%= cellar_upload_failed_path %>';
      }
    }
  });
}
$(document).ready(function() {
  window.setInterval(checkStatus, 3000);
});
</script>
<% end %>
