<% content_for :title do %>
	all cellars
<% end %>

<h2>Flash! News! OMG!</h2>

<ul class="events">
<% if @recent_events.nil? or @recent_events.empty? %>
	<li class="empty">How sad, no one is doing ANYTHING on this site :( Maybe someone should go <%= link_to 'groom the wiki?', brews_path %></li>
<% else %>
	<% @recent_events.each do |event| %>
		<%== render_event event %>
	<% end %>
<% end %>
</ul>

<h2 class="cellars">Browse Cellars</h2>

<ul class="all-cellars">
<% @cellars.each do |cellar| %>
	<li><a href="/cellars/<%= cellar.user.username %>"><%= cellar.user.username %></a></li>
<% end %>
</ul>