<h2>News</h2>

<ul class="recent-events">
<% if @recent_events.nil? or @recent_events.empty? %>
	<li class="empty">How sad, no one is doing ANYTHING on this site :(</li>
<% else %>
	<% @recent_events.each do |event| %>
	<li><%== event.text %> <span class="timestamp note">(<%= distance_of_time_in_words(event.created_at, Time.now) %> ago)</span></li>
	<% end %>
<% end %>
</ul>

<h2 class="cellars">Cellars</h2>

<ul class="all-cellars">
<% @cellars.each do |cellar| %>
	<li><a href="/cellars/<%= cellar.user.username %>"><%= cellar.user.username %></a></li>
<% end %>
</ul>