<% content_for :title do %>
    upload your cellar
<% end %>

<h2>Upload Your Cellar</h2>

<% unless @cellar_upload.errors.empty? %>
<ul class="errors">
	<% @cellar_upload.errors.each do |element,msg| %>
		<li><%= msg %></li>
	<% end %>
</ul>
<% end %>

<% form_for(@cellar_upload, :url => upload_cellar_path(@cellar), :multipart => true) do |f| %>
    <div class="field">
        <%= f.label :file, 'File:'%>
        <%= f.file_field :file %>
    </div>

    <div class="buttons">
        <button type="submit">Upload</button>
        <%= link_to 'Back', cellar_path(@cellar.user.username) %>
    </div>
<% end %>