<% content_for :title do %>
  admin lobby
<% end %>

<h2>Admin Lobby</h2>

<div class="navigation">
  <%= link_to 'Manage Users', admin_users_path %>
</div>

<h3>Enjoy a nice song for being an admin.</h3>

<div align="center">
  <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/iwGFalTRHDA" frameborder="0" allowfullscreen></iframe>
</div>