<% content_for :title do %>
    password reset. check your email
<% end %>

<h2>A link has been mailed to you.</h2>

<div class="description">
    <p><strong>Because we need to make sure you are who you say you are, we need to send you a confirmation email!</strong></p>

    <p>Check your inbox. You will be getting an email shortly with a confirmation link in it. Click it and you will be taken to a page back on hoptopus that will allow you to reset your password to a new password!</p>
</div>

