<% content_for :title do %>
    confirmation email sent
<% end %>

<h2>Confirmation email sent!</h2>
<div class="description">
	<p>Check you email. You should get a message from The Hoptopus shortly with instructions on how to continue the reset process!</p>
	
	<p><%= link_to 'Back Home for Now', root_url%></p>
</div>