<% content_for :title do %>
    please confirm your account
<% end %>

<h2>Please confirm your account!</h2>

<p>You should have received a confirmation email with a URL in it for confirming your email address. Please check your inbox for it!</p>
<p><%= button_to "Resend Confirmation Email", send_confirmation_path %></p>