<%- content_for :title do %>
  search results
<%- end %>
<div class="page-title">
  <h1>Search Results</h1>
</div>

<div class="search">
  <%= form_tag(search_path, :method => :get) do %>
      <%= text_field_tag :q, params[:q] %>
      <button type="submit">Search</button>
  <% end %>
</div>

<h2>Users</h2>

<%- if @results.empty? %>
  <div class="empty">No search results.</div>
<%- else %>
  <%= render :partial => 'users/listing', :collection => @results %>
<%- end %>

<div class="pages">
  <%= will_paginate @results %>
</div>
