body { background-color: #fff; color: #333; }

body, body * {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('/images/stripe.png');
	background-repeat: repeat-x;
}

body, p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:	 13px;
	line-height: 18px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #85af22; }

div.field, div.actions, div.buttons {
	margin-bottom: 10px;
}

.homepage-register {
	font-size: 14pt;
	margin-top: 15pt;
	color: #85af22;
	background-color: #ffe9a8;
	padding: 20pt;
	padding-left: 40pt;
	padding-right: 40pt;
	
	display: inline-block;
	
	border-radius: 5pt;
	-moz-border-radius: 5pt;
	-webkit-border-radius: 5pt;
}

/*
div.buttons {
	text-align: right;
}
*/

#notice {
	color: green;
}

.brief {
	float: right;
	font-style: normal !important;
	font-size: 9pt;
}

.brief .label {
	font-weight: bold;
}

.brief .field {
	margin-bottom: 0;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: inline-block;
}

.recent-tastings {
	clear: both;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

h2.tastings {
	margin-top: 10pt;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
	color: #fff;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

#error_explanation ul {
	margin-left: 15px;
}

#top, #bottom {
	width: 920px;
}

#content {
	width: 900px;
}

textarea {
	display: block;
	width: 100%;
	height: 325px;
}
 
#content, #top, #bottom {
	margin-left: auto;
	margin-right: auto;
}

#navigation {
	float: right;
	margin-top: 5pt;
	margin-right: 5pt;
}

#navigation ul, #navigation li {
	display: inline;
}

#navigation li {
	margin-left: 5pt;
}

#navigation a, .navigation a {
	color: #333;
	display: inline-block;
	padding: 3pt;
	padding-left: 7pt;
	padding-right: 7pt;
	border-radius: 5pt;
	-moz-border-radius: 5pt;
	-webkit-border-radius: 5pt;
	background-color: #fff;
	text-decoration: none;
}

#navigation a:hover, #navigation a:focus, .navigation a:hover, .navigation a:focus {
	background-color: #ffe9a8;
	color: #85af22;
}

label {
	display: inline-block;
	width: 125px;
}

#top h1, h1 a {
    color: #86673F;
    display: inline-block;
    margin-left: 5pt;
    margin-top: 2pt;
    padding-bottom: 3pt;
    text-decoration: none;
    text-shadow: -1px -1px 1px #FFF5D7;
}

h1 img {
	position: relative;
	top: 5px;
}

.content-wrapper {
	background-image: url('/images/faded-top.png');
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 15px;
	
	min-height: 200px;
}

#bottom {
	color: #ccc;
	border-top: 1px dashed #EBEBEB;
	padding-top: 5pt;
	margin-top: 5pt;
	text-align: center;
}

div.info, div.navigation {
	background-color: #ffe9a8;
	padding: 5pt;
		
	border-radius: 5pt;
	-moz-border-radius: 5pt;
	-webkit-border-radius: 5pt;
	
	font-style: italic;
	
	margin-bottom: 5pt;
	color: #666;
}

h3 {
	margin-top: 5pt;
	margin-bottom: 5pt;
	color: #666;
}

table.list {
	width: 100%;
}

h3 a {
	text-decoration: none;
	color: #666;
}

#add-beer-form span.note {
	display: block;
	margin-bottom: 5pt;
}

h3 img {
	position: relative;
	top: 2px;
	margin-right: 2pt;
}

h3 a, #navigation a {
	outline: none;
}

h3 a:hover {
	background-color: transparent;
	color: #666;
}

table.list th {
	background-color: #ccc;
}

table.list td {
	padding-left: 2pt;
	padding-right: 2pt;
}

.empty, .note{
	color: #666;
	font-style: italic;
}

h2 {
	margin-bottom: 5pt;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5pt;
	color: #85af22;
}

div.login {
	margin-top: 15pt;
	width: 295px;
	background-color: #ffe9a8;
	
	border-radius: 5pt;
	-moz-border-radius: 5pt;
	-webkit-border-radius: 5pt;
	
	padding: 5pt;
	
	border: 1px #ffbf00 solid;
	
	margin-left: auto;
	margin-right: auto;
}

div.login p {
	margin-bottom: 10pt;
}

button, input[type="submit"] {
	padding-left: 10pt;
	padding-right: 10pt;
}

div.login .buttons {
	text-align: right;
}

ul.errors {
	margin-left: 15pt;
	margin-bottom: 5pt;
	color: #f00;
}

#email_consent {
	margin-left: 2px;
}

#beer_year, #beer_quantity, #beer_abv, #beer_price, #beer_size, #brew_abv, #brew_ibus {
	width: 72px;
}

label.email-consent {
	width: auto;
}

.timestamp.note {
	float: right;
	color: #bbb;
}

#beer_quantity, #beer_abv, #beer_price, #brew_abv, #brew_ibus  {
	text-align: right;
}

#beer_cellared_at {
	width: 125px;
}

label, span.label {
	text-align: left;
}

.events li {
	padding: 5pt;
	list-style-position: inside;
}

.events li.brew-tasted {
	list-style-image: url('/images/beer.png');
}

.events li.brew-added, .events li.beer-added {
	list-style-image: url('/images/bullet_add.png');
}

.events li.brew-edited {
	list-style-image: url('/images/edited.png');
}

.events li.empty {
	list-style-type: none;
}

h2.cellars {
	margin-top: 10pt;
}

ul.all-cellars {
	margin-left: 15pt;
}

.color1 {
	background-color: #dff2b3;
}

.color2 {
	background-color: #f2e4b3;
}

.more-info, .more-info p.note{
	font-size: 16pt;
	line-height: 24pt;
	font-style: normal;
}

.more-info ul {
	margin-left: 25pt;
}

.more-info li {
	margin-top: 10pt;
	font-size: 14pt;
	line-height: 16pt;
	font-style: italic;
	color: #85af22;
}

.second {
	margin-top: 20pt;
}

button, input[type="submit"] {
	background-image: url('/images/button.png');
	background-repeat: repeat-x;
	border: 1px #ccc solid;
	
	color: #333;
	
	outline: none;
}

button:focus, input[type="submit"]:focus {
	outline: none;
	border: 1px #85af22 solid;
}

button:active, input[type="submit"]:active {
	background-image: url('/images/button-down.png');
}

table[data-sortable] th {
	background-image: url('/images/unsorted.png');
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 10pt;
}

table[data-sortable] th.unsortable {
	background-image: none;
	padding-right: 0;
}

table[data-sortable] th.headerSortDown {
	background-image: url('/images/sort-down.png');
	background-color: #FFE9A8;
	background-repeat: no-repeat;
	background-position: right center;
}

table[data-sortable] th.headerSortUp {
	background-image: url('/images/sort-up.png');
	background-color: #FFE9A8;
	background-repeat: no-repeat;
	background-position: right center;
}

.tabs h2 {
	display: inline-block;
	margin: 0;
	padding: 10pt;
	padding-top: 5pt;
	padding-bottom: 5pt;
	border-bottom: 0;
	font-size: 10pt;
	border-top: 1px #ebebeb solid;
	border-left: 1px #ebebeb solid;
	border-right: 1px #ebebeb solid;
	margin-right: 5pt;
	
	position: relative;
	top: 1px;
	
	z-index: 10;
	
	cursor: pointer;
}

.tabs h2.open {
	border-bottom: 1px #fff solid;
	border-top: 1px #ccc solid;
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
}

.tabs {
	border-bottom: 1px #ccc solid;
	z-index: 20;
	
	margin-bottom: 10pt;
	padding-left: 10pt;
}

textarea.notes {
	height: 150px;
}