body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions, div.buttons {
  margin-bottom: 10px;
}

/*
div.buttons {
  text-align: right;
}
*/

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#top, #content, #bottom {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
}

#navigation {
  float: right;
}

#navigation ul, #navigation li {
  display: inline;
}

#navigation li {
  margin-left: 5pt;
}

#navigation a {
  display: inline-block;
  padding: 5pt;
  border-radius: 5pt;
  -moz-border-radius: 5pt;
  -webkit-border-radius: 5pt;
}

label {
  display: inline-block;
  width: 125px;
}

#navigation a:hover {

}

#top h1 {
  display: inline-block;
}

#bottom {
  color: #ccc;
  border-top: 1px #ccc solid;
  padding-top: 5pt;
  margin-top: 5pt;
  text-align: center;
}

table.list {
  width: 100%;
}

.empty, .note{
  color: #666;
  font-style: italic;
}