<p>Hey there <strong><%= @cellar.user.username %>!</strong><p/>

<p>Good news! Someone left a comment on your cellar.!</p>

<p><a href="<%= @return_url %>">Visit your cellar to see it!</a></p>

<p>Sincerely,</p>

<p>The Hoptopus</p>