<%- content_for :title do %>
  Confirm Your Account
<%- end %>

<p>Hello there!</p>

<p>Looks like you need to confirm your hoptopus account! Just click the link below and you'll be on your way.</p>

<p><a href="<%= confirm_email_url(@confirmation_request.confirmation_code) %>">Confirm your account!</a>

<p>Thanks,</p>
<p>The Hoptopus</p>
