<div class="user-listing clearfix">
  <%= gravatar_for(listing, :class => 'gravatar cellar-avatar') %>
  <h4><%= link_to listing_link_text(listing), cellar_path(listing) %></h4>
  <div class="details">
    <%- if listing.location %>
      <span class="location"><%= listing.location %></span>
    <%- end %>

    <span class="beers-count"><%= listing.cellar.active_beers.size %> beers in cellar</span>
  </div>
</div>
