<% content_for :title do %>
    confirmation email sent
<% end %>

<h2>Confirmation email sent!</h2>

<p>Check your inbox (<strong><%= @user.email %></strong>) for a confirmation email! Click the link in that email to confirm you account.</p>