<div class="buttons" align="right">
  <div class="left">
    <button type="button" id="new-beer">Add Beer</button>
    <button type="button" id="import-beers">Import</button>
  </div>

  <div class="left beers">
    <button type="button" id="edit-beers" disabled>Edit Selected</button>
    <button type="button" id="new-tasting-note" disabled>New Tasting Note</button>
    <button type="button" id="check-out-beers" disabled>Remove Selected</button>
  </div>

  <button type="button" id="clear-filters">Clear Filters</button>
</div>
