<%- alert 'getting_started', :css_class => 'getting-started' do %>
  <h2>Getting Started with Hoptopus</h2>
  <p>Since you're new to Hoptopus here are a few things you should know about.</p>

  <div class="highlights clearfix">
    <div class="third">
      <div class="first highlight">
        <h3>Your Cellar</h3>
        <p>This is essentially your beer collection.</p>
      </div>
    </div>

    <div class="third">
      <div class="highlight">
        <h3>Your Recent Changes</h3>
        <p>This is a list.</p>
      </div>
    </div>

    <div class="third">
      <div class="highlight">
        <h3>Friends' Recent Changes</h3>
        <p>This is your friends' recent changes.</p>
      </div>
    </div>
  </div>
<%- end %>
