<% content_for :title do %>
	the easy way to share your tasting notes and what's in you beer cellar
<% end %>

<h2>The easy way to share your tasting notes and what's in your beer cellar.</h2>

<div class="the-hoptopus"><img src="/images/thehoptopus.png" /></div>

<div class="more-info">
    <p class="tag">Hoptopus makes it easy for you to get the most out of your beer cellar!</p>
    
    <span class="note">Meet other beer aficionados. Share tasting and aging notes. Track where your beers are in the aging process. Discover new beers with recomendations and reviews from other users.</span>
    
    <div class="signup">
        <%= link_to 'Create a Free Account!', register_path, :class => 'homepage-register' %>
        
        <span class="or">or</span>
        
        <%= link_to 'Have a Look Around!', cellars_path, :class => 'homepage-lookaround' %>
    </div>
</div>