<% content_for :title do %>
  hoptopus: the easy way to track and share what's in you beer cellar
<% end %>

<h2>The easy way to track and share what's in your beer cellar.</h2>

<div class="the-hoptopus"><img src="/images/thehoptopus.png" /></div>

<div class="more-info">
    <p class="tag">Hoptopus makes it easy for you to get the most out of your beer cellar!</p>
    
    <span class="note">Track your beer collection. Share tasting and aging notes. Track where your beers are in the aging process. Discover new beers with recomendations and reviews from other users.</span>
    
    <div class="signup">
        <%= link_to 'Create a Free Account!', register_path, :class => 'homepage-register' %>
        
        <span class="or">or</span>
        
        <%= link_to 'Have a Look Around!', cellars_path, :class => 'homepage-lookaround' %>
    </div>
</div>

<div class="newsletter">
  <h2>Keep Up with Hoptopus</h2>
  <span class="note">Sign up for the hoptopus newsletter!</span>

  <div class="wrapper">
    <input type="text" name="email" id="email" /> <button type="button" id="signup">Signup</button>
  </div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
var progressImg = new Image();
progressImg.src = '/images/progress-small.gif';

$(function() {
  $('#signup').bind('click', function() {
    var emailInput = $('#email');

    if(emailInput.isEmpty()) {
      return;
    }

    var wrapper = $(this).parents('.wrapper');
    var parent = wrapper.parent();

    // Post this back to the server.
    wrapper.fadeOut('fast', function() {
      $(progressImg).hide();
      $(progressImg).appendTo(parent);
      $(progressImg).fadeIn('fast', function() {
        $.ajax({
          url: '<%= newsletter_signup_path %>',
          data: { email: emailInput.val() },
          type: 'POST',
          error: function(data) {
            $(progressImg).fadeOut('fast', function() { wrapper.fadeIn('fast'); });
            var errors = JSON.parse(data.responseText);
            var span = $('<span/>').addClass('error').text(errors.message.email);
            wrapper.append(span);

            $('#signup').click(function() { span.fadeOut('fast', function() { $(this).remove(); }) });
            $('#email').keypress(function() { span.fadeOut('fast', function() { $(this).remove(); }) });
          },
          success: function(data) {
            $(progressImg).fadeOut('fast', function() {
              var span = $('<span/>').addClass('note').text('Hurray! Thanks for signing up.');
              span.appendTo(parent);
              span.fadeIn('fast');
            });
          }
        });
      });
    });
  });
});
</script>
<% end %>
