<%- content_for :title do %>
  what is hoptopus?
<%- end %>

<div class="centered page-title">
  <h1>Hoptopus helps your track and share what's in your beer collection.</h1>
</div>

<div class="centered">
  Like what you see? <%= link_to 'Create your free Hoptopus account now!', register_path %>
</div>

<h2>Organize, share, filter, and sort the contents of your beer cellar with Hoptopus.</h2>

<div class="clearfix">
  <div class="screenshot">
    <img src="/images/tour/hoptopus-cellar.png" alt="Screen shot of a Hoptopus cellar." class="screenshot"/>
    <span class="caption">Screen shot of a Hoptopus cellar.</span>
  </div>
  <div class="left-shot bene">
    <p>Hoptopus makes it easy for you to keep track of what is currently in your collection. This provides you with a snapshot of what is currently in your beer cellar. Quickly add and remove beers from your list of contents to keep it up to date.</p>
    <p>You can view other people's cellars and quickly sort and filter their contents list to see what kind of beers they have. This makes it easy for you to share with others what you currently have in your collection!</p>
  </div>
</div>

<h2>Keep tasting notes on your beers as they age to tell how the flavors change over time.</h2>
<div class="clearfix">
  <div class="right screenshot">
    <img src="/images/tour/hoptopus-tasting.png" alt="Screen shot of the UI for adding tasting notes to Hoptopus." class="screenshot"/>
    <span class="caption">Example of a Hoptopus tasting note.</span>
  </div>

  <div class="bene">
    <p>Hoptopus provides an easy way for you to track tasting notes over time to tell how your beer's flavors change. Simply find the beer you tasted in your collection and file a tasting note for it. You can rate beers in the following categories:</p>

    <ul>
      <li>Appearance</li>
      <li>Taste</li>
      <li>Aroma</li>
      <li>Pour</li>
      <li>Mouthfeel</li>
      <li>Drinkability</li>
    </ul>
    <p>You can view other peoples' notes, too, in order to find the ideal time to age your beers.</p>
  </div>
</div>

<h2>Get started with Hoptopus: Importing your beers from the spreadsheet you're already maintaining!</h2>

<div class="clearfix">
  <div class="screenshot">
    <img src="/images/tour/hoptopus-import.png" alt="Hoptopus makes it easy for you to get started if you are already maintaining a list of your beers in Excel." class="screenshot"/>
    <span class="caption">Simply import your cellar from Excel.</span>
  </div>

  <div class="left-shot bene">
    <p>No need to re-enter your beer cellar by hand if you're already using Excel to keep track of what you have! Just save the Excel file as a CSV file, upload it to Hoptopus, and you're done and ready to go with Hoptopus!</p>
  </div>
</div>

<div class="centered call">
  <%= link_to "Get your free Hoptopus account today!", register_path %>
</div>
