<%= form_tag (cellar_beers_path(current_user.cellar)) %>
  <%= render 'beers/form', :form_element_prefix => 'beer', :beer => beer %>

  <div class="buttons submit">
    <button style="button" class="close" tabindex="14">Cancel</button>
    <button style="submit" class="submit" tabindex="13">Add Beer to Cellar</button>
  </div>
</form>
