<div class="ratable <%= tag_name.gsub(/\W+/,'_') %>">
    <%= hidden_field_tag tag_name, initial_value %>

    <% (min..max).each do |i| %>
    <a href="javascript:void(0);" data-val="<%= i %>"><%= i %></a>
    <% end %>
</div>