<!DOCTYPE html>
<html>
<head>
  <title>The page you were looking for doesn't exist (404)</title>
  <style type="text/css">
    body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 25em;
      padding: 0 4em;
      margin: 4em auto 0 auto;
      border: 1px solid #ccc;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  </style>
</head>

<body>
  <div class="dialog">
    <h1>The page you were looking for doesn't exist.</h1>
    <div class="the-hoptopus"><img src="/images/thehoptopus.png" /></div>
    <p>You may have mistyped the address or we might have screwed something up. Sorry.</p>
    <div align="center"><a href="javascript:void(0);" onclick="window.history.go(-1);" style="margin-bottom: 10pt; display: inline-block;">Go Back</a></div>
  </div>
</body>
</html>
